
<ul class="nav gridUl bcblue">
  <li class="nav-item logoShikoba">
  </li>
  <li class="nav-item bcLight">
    <a class="nav-link lBlanco tAlCenter" [routerLink]="">Partes</a>
  </li>
  <li class="nav-item">
    <a class="lBlanco nav-link tAlCenter" [routerLink]="" (click)="locationCotutorias()">Cotutorías</a>
  </li>
  <li class="nav-item datosUsuario lBlanco">
    <p class="datosP">{{api.usuario.nombre}} {{api.usuario.apellido1}}</p>
    <button (click)="logout()">Logout</button>
  </li>
</ul>

<form>
  <div class="searchbar" [class.hide]="mostrarAlumnos">
    <input class="form-control search" type="search" id="search1" aria-label="Search" placeholder="Buscar alumnos" mdbInput>
  </div>
</form>

<div class="cartas" [class.hide]="mostrarAlumnos">
  <button class="card bg-light mb-3 formulario" style="max-width: 18rem;" *ngFor="let cotutorias of api.cotutorias" (click)="accedeAlumno(cotutorias)">
    <div class="card-header bigText">{{cotutorias.idAlumno.nombre}} {{cotutorias.idAlumno.apellido1}} {{cotutorias.idAlumno.apellido2}}</div>
    <div class="card-body">
      <p class="card-title">Curso: {{cotutorias.idAlumno.idCurso}}</p>
    </div>
  </button>
</div>

<h4 class="nombreAl" [class.hide]="mostrarForm" >Informe sobre {{nombre}}</h4>

<form class="formulario" [class.hide]="mostrarForm" method="get" #itemForm="ngForm" (ngSubmit)="enviar()"> 
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="exampleFormControlSelect1">Asignatura</label>
      <select [(ngModel)]="asignatura" class="form-control form-input" id="exampleFormControlSelect1" name="asignatura">
        <option *ngFor="let materia of api.materias" [value]="materia.id">{{materia.nombre}}</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Fecha</label>
    <input [(ngModel)]="fecha" type="date" class="form-control form-input" id="inputAddress" name="fecha">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="exampleFormControlSelect1">Hora</label>
      <select [(ngModel)]="hora" class="form-control form-input" id="exampleFormControlSelect1" name="hora">
        <option value="1">1ª</option>
        <option value="2">2ª</option>
        <option value="3">3ª</option>
        <option value="4">4ª</option>
        <option value="5">5ª</option>
        <option value="6">6ª</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="formControlRange">Comportamiento</label><br>
    <div>
      <table class="table table-bordered">
        <tr>
          <th scope="col">1</th>
          <th scope="col">2</th>
          <th scope="col">3</th>
          <th scope="col">4</th>
          <th scope="col">5</th>
        </tr>
      </table >
      <table class="table table-bordered">
        <tr>
          <th scope="col"><input [(ngModel)]="comportamiento" type="radio" id="1" name="comportamiento" value="1"></th>
          <th scope="col"><input [(ngModel)]="comportamiento" type="radio" id="2" name="comportamiento" value="2"></th>
          <th scope="col"><input [(ngModel)]="comportamiento" type="radio" id="3" name="comportamiento" value="3"></th>
          <th scope="col"><input [(ngModel)]="comportamiento" type="radio" id="4" name="comportamiento" value="4"></th>
          <th scope="col"><input [(ngModel)]="comportamiento" type="radio" id="5" name="comportamiento" value="5"></th>
        </tr>
      </table>
    </div>
  </div>
  <div class="form-group">
    <label for="formControlRange">Actitud</label><br>
    <div>
      <table class="table table-bordered">
        <tr>
          <th scope="col">1</th>
          <th scope="col">2</th>
          <th scope="col">3</th>
          <th scope="col">4</th>
          <th scope="col">5</th>
        </tr>
      </table >
      <table class="table table-bordered">
        <tr>
          <th scope="col"><input [(ngModel)]="actitud" type="radio" id="1" name="actitud" value="1"></th>
          <th scope="col"><input [(ngModel)]="actitud" type="radio" id="2" name="actitud" value="2"></th>
          <th scope="col"><input [(ngModel)]="actitud" type="radio" id="3" name="actitud" value="3"></th>
          <th scope="col"><input [(ngModel)]="actitud" type="radio" id="4" name="actitud" value="4"></th>
          <th scope="col"><input [(ngModel)]="actitud" type="radio" id="5" name="actitud" value="5"></th>
        </tr>
      </table>
    </div>
  </div>
  <input type="submit" class="btn btn-primary" value="Enviar"/>
</form>