<div class="login">
  <div class="fondo">
    <div class="logo">
      <img class="logo-img" src="assets/img/logo2.svg" alt="logo" /> 
    </div>

    <div class="cajaInfo">
      <p>
        Información y noticias para los alumnos del IES Gran Capitán
      </p>
    </div>

    <div class="boton" (click)="login()">
      <button class="waves-effect waves-light btn botonLogin darken-3 center-aling">
        <img src="assets/img/google.png"/>
        <div>
          Iniciar Sesión
        </div>
      </button>
    </div>
  </div>
</div>

