.bcblue{
    background-color: rgb(26, 87, 219);
}
.bcLight{
    background-color: rgb(63, 118, 236);
}

.lBlanco{
    color: white;
}

.nave{
    display: grid;
    grid-template-columns: 1.5fr 2fr 2fr 2fr 1fr;
    height: 75px;
    box-shadow: -1px 5px 8px 0px rgba(0,0,0,0.48);
}

.menu{
    font-size: 20px;
    text-align: center;
    line-height: 70px;
}

.naveDiv{
    margin-left: 4px;
    margin-right: 4px;
}

.logoShikoba{
    background-image: url('../../assets/img/logo2.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin:2px 0px 2px 0px;

}

.datosUsuario{
    display: flex;
    align-items: center;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    
}

.datosP{
    margin: 0px;
}

.logout{
    color: #979cb0;
    padding-top: 2px;
}

.entradas{
    display: grid;
    grid-template-columns: 1.5fr 4fr 2.5fr;
    min-height: 70px;
    box-shadow: -1px 5px 8px 0px rgba(0,0,0,0.48);
    margin: 0 auto; 
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    border-radius: 5px;
}

.entradas-img{
    background-image: url('../../assets/img/user.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 5px 10px 5px 10px;
    max-width: 80px;
    max-height: 70px;
    min-width: 70px;
}

.entradas-nombre{
    color: #828697;
    font-weight: 600;
    font-size: 20px;
    text-align: left;
    display: flex;
    align-items: center;
}

.entradas-curso{
    color: rgb(26, 87, 219);
    font-weight: 700;
    font-size: 15px;
    margin:5px;
    text-align: center;
    line-height: 70px;
}


.tAlCenter{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}


.bigText{
    font-size: 18px;
}

.hide{
    display: none;
}

.nombreAl{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.cartaNoGrid{
    padding: 5%;
}

.searchbar{
    border-style: solid;
    border-radius: 17px;
    border-width: 2px;
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    padding:4px 4px 4px 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 3px 15px 6px rgba(0,0,0,0.21);
}

.search{
    outline: none;
    border-style: none;
    width: 100%;
   
}

.formulario{
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: -1px 5px 8px 0px rgba(0,0,0,0.48);
    margin: 0 auto; 
    margin-bottom: 10px;
    width: 80%;
    border-radius: 5px;
}

.label{
    margin-left: 15px;
}

.formElement{
    margin-left: 15px;
    margin-right: 15px;
}

.tabla{
    margin-bottom: 0px;
    margin-left: 15px;
    width: 100%;
}

.tabla td, .tabla th {
    padding: .75rem;
    vertical-align: top;
}

.profile{
    border-radius: 50%;
    max-height: 40px;
    max-width: 40px;
    margin-right: 4px;
}


/* The Modal (background) */
.mod{
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    
}
  
.mod-content {
    box-shadow: -1px 5px 8px 0px rgba(0,0,0,0.48);
    border-radius: 5px;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 5px 20px 20px 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.checkConductas{
    margin:5px 10px 0 10px;
}

.dConductas{
    display: grid;
    grid-template-columns: 9fr 1fr;
    padding-right: 15px;
}

.checkExpulsion{
    margin-top: 6px;
    margin-left: 4px;
}

.expulsion{
    display: flex;
}
  
.close {
    color: rgb(26, 87, 219);
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

.sinResultados{
    margin-top: 50%;
    text-align: center;
    font-size: 20px;
    color: rgba(114, 114, 114, 0.8);
}

.enviadoImg{
    max-width: 100px;
    max-height: 100px;
}

.modEnviar{
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    
}

.mod-content-enviar{
    box-shadow: -1px 5px 8px 0px rgba(0,0,0,0.48);
    border-radius: 10px;
    background-color: #fefefe;
    margin: 0 auto;
    margin-top: 50%; 
    padding: 10px 20px 20px 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mod-content-logout{
    box-shadow: -1px 5px 8px 0px rgba(0,0,0,0.48);
    border-radius: 10px;
    background-color: #fefefe;
    margin: 0 auto;
    margin-top: 50%; 
    padding: 10px 20px 20px 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}

.enviadoText{
    font-size: 25px;
    font-weight: 600;
}

.volver{
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: rgb(63, 118, 236);
    background-color: rgb(63, 118, 236);
    color: white;
    box-shadow: -1px 5px 8px 0px rgba(0,0,0,0.48);
    padding:7px 30px 7px 30px;
    font-size: 20px;
    font-weight: 600;
}

.modEnviar{
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    
}

.mceFlex{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0px;
    width: 100%;
}