<ul class="nav gridUl bcblue">
  <li class="nav-item logoShikoba">
  </li>
  <li class="nav-item">
    <a class="nav-link lBlanco tAlCenter" [routerLink]="" (click)="locationIndex()">Partes</a>
  </li>
  <li class="nav-item bcLight">
    <a class="lBlanco nav-link tAlCenter" [routerLink]="" >Cotutorías</a>
  </li>
  <li class="nav-item datosUsuario lBlanco">
    <p class="datosP">{{api.usuario.nombre}} {{api.usuario.apellido1}}</p>
    <button (click)="logout()">Logout</button>
  </li>
</ul>

<form>
  <div class="searchbar" [class.hide]="mostrarCartas">
    <input class="form-control search" type="search" id="search1" aria-label="Search" placeholder="Tus cotutorías" mdbInput>
  </div>
</form>

<div class="cartas" [class.hide]="mostrarCartas">
  <button class="card bg-light mb-3 formulario" style="max-width: 18rem;" *ngFor="let alumnosCot of api.alumnosCot" (click)="accedeAlumno(alumnosCot.idAlumno)">
    <div class="card-header bigText">{{alumnosCot.idAlumno.nombre}} {{alumnosCot.idAlumno.apellido1}} {{alumnosCot.idAlumno.apellido2}}</div>
    <div class="card-body">
      <p class="card-title">Curso: {{alumnosCot.idAlumno.idCurso}}</p>
    </div>
  </button>
</div>

<h4 class="nombreAl" [class.hide]="mostrarAlumno">Informes de {{nombre}}</h4>

<form class="nombreAl" name="fF" [class.hide]="mostrarAlumno" #itemForm="ngForm" (ngSubmit)="buscarFecha(fechaInicial)">
  <table class="table table-bordered">
    <tr>
      <th scope="col" (click)="cambiarSemana(-1)">-</th>
      <th scope="col">{{fechaInicialCadena}} - {{fechaFinalCadena}}</th>
      <th scope="col" (click)="cambiarSemana(1)">+</th>
    </tr>
  </table>

  <table class="table table-bordered">
    <tr>
      <th scope="col" (click)="cambiarDia(0)">L</th>
      <th scope="col" (click)="cambiarDia(1)">M</th>
      <th scope="col" (click)="cambiarDia(2)">X</th>
      <th scope="col" (click)="cambiarDia(3)">J</th>
      <th scope="col" (click)="cambiarDia(4)">V</th>
    </tr>
  </table>
</form>

<div class="cartas" [class.hide]="mostrarAlumno">
  <button class="card bg-light mb-3 formulario" style="max-width: 18rem;" *ngFor="let informe of api.informesAlumno">
    <div class="card-body">
      <p class="card-title">Profesor: {{informe.idProfesor.nombre}} {{informe.idProfesor.apellido1}} {{informe.idProfesor.apellido2}}</p>
      <p class="card-title">Asignatura: {{informe.idMateria.nombre}} </p>
      <p class="card-title">Hora: {{informe.hora}}</p>
      <p class="card-title">Actitud: {{informe.idActitud.actitud}} </p>
      <p class="card-title">Comportamiento: {{informe.idComportamiento.comportamiento}} </p>
    </div>
  </button>
</div>

